<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue中多个元素或组件的过渡</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <style>
        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }

        .fade-enter-active,
        .fade-leave-active {
            transition: opacity 1s;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- mode 设置多个属性切换的效果 -->
        <transition name="fade" mode="out-in">
            <!-- 组件过渡效果1 -->
            <!-- <child v-if="show"></child>
            <child-one v-else></child-one> -->
            <!-- 组件过渡效果2 -->
            <component :is="type"></component>
            <!-- 普通结构过渡 -->
            <!-- <div v-if="show" key="hello">
                Hello world
            </div>
            <div v-else key="bye">
                Bye world
            </div> -->
        </transition>

        <button @click="handleClick">切换</button>
    </div>
    <script>
        Vue.component("child", {
            template: "<div>child</div>"
        })
        Vue.component("child-one", {
            template: "<div>child-one</div>"
        })

        var vm = new Vue({
            el: "#app",
            data: {
                type: "child"
            },
            methods: {
                handleClick: function () {
                    this.type = this.type === "child" ? "child-one" : "child"
                },
                handleEnterClick: function (el) {
                    el.style.opacity = 0;
                },
                handleEnter: function (el, done) {
                    el.style.opacity = 1;
                    done()
                },
                handleAfterClick: function (el) {
                    console.log("动画结束")
                }
            }
        })
    </script>
</body>

</html>